<body class="w3-black">
    <div class="text-center"  class="bg-image"style="background-image: url('assets/sunshine.jpg'); height: 100vh">
        <br><br><br>
        <p style="color:red;font-size:20pt;font-family:Copperplate Gothic;text-align: center;" >WELCOME</p>
        <br>
        <p style="color:red;font-size:20pt;font-family:Copperplate Gothic;text-align: center;">TO</p>
        <br>
        <p style="color:green;font-size:14pt;font-family:Comic Sans MS;text-align: center;">A SIMPLIFIED WEB APPLICATION FOR TEST YOUR KNOWLADGE</p>
        <div class="card-body ">
            <div class="text-center">
                   <div><a class="nav-link " [routerLink]="['/quizdp']"><button  class="btn btn-success " >Start Quiz</button></a></div>
            
             </div>
            </div>   
     </div>

 <div class="text-center copy">@All Copyrights - Ajeet Singh </div>
</body>